{% extends 'admin.html.twig' %}

{% block content %}
    <h1>Nouveau cours</h1>
    <hr>
    {{ include('classes/_form.html.twig') }}
    <a CLASS="btn btn-primary" href="{{ path('classes_index') }}">Retour</a>
{% endblock %}
