{% extends 'admin.html.twig' %}

{% block content %}
    <h1>Modifier : <b>{{ category.label }}</b></h1>
    <hr>
    <div class="text-center">
        {{ include('category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>
    <hr>
    <a class="btn btn-primary" href="{{ path('category_index') }}">Retour</a>
{% endblock %}
