{% extends 'admin.html.twig' %}


{% block content %}
    <h1 class="mb-15">Statistiques</h1>
    <table class="table">
        <tbody>
        <tr>
            <th>Catégories</th>
            <td>{{ categories }}</td>
        </tr>
        <tr>
            <th>Cours</th>
            <td>{{ classes }}</td>
        </tr>
        <tr>
            <th>Utilisateurs</th>
            <td>{{ users }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}